.flexbox-container{
  /* height: 700px; */
  display: flex;
  /* flex-wrap: wrap; */
  background-color: yellow;
  /* flex-direction: column;*/
  /*justify-content: center; */
  /* justify-content: space-around;*/
  /* align-items: center; */
/*  align-content: flex-end; */
}

.flexbox-item {
  width: 200px;
  margin: 10px;
  border: 3px solid #333;
  background-color: #dfdfdf;
}
.flexbox-item-1 {
  min-height: 100px;
  flex-shrink: 0;
}
.flexbox-item-2 {
  min-height: 200px;
}
.flexbox-item-3 {
  min-height: 300px;
  flex-grow: 1;
}
/*
.flexbox-item:nth-of-type(1) {
  min-width: 400px; */
