* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  background: #6E00AA;
  background-image: url(images/bg-desktop.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.container {
  margin: 70px auto;
  padding: 90px;
  display: grid;
  grid-template-columns: 1fr;

}
.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* margin-bottom: 20px; */
  justify-content: center;
  text-align: left;
  max-width: 750px;
}

.btn {
  background-color: #fff; /* Green */
  border: #fff 2px solid;

  border-radius: 35px;
  color: #6E00AA;
  padding: 15px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  width: 250px;
  height:60px;
  margin-top: 20px;

}

.btn:hover {
  background-color: #E240BA;
  color: #fff;
  border: #E240BA 2px solid;
}
.images {
  margin-top: 20px;
  align-items: center;
  justify-content: center;
}
h1 {
  font-size: 60px;
  margin-bottom: 20px;
  margin-left: 30px;
}
p {
  font-size: 25px;
  margin-left: 30px;
}


.card:nth-of-type(1) {
  grid-column: 1 / 2;
}

.card:nth-of-type(2) {
  grid-column: 2 ;
}

@media (max-width: 850px) {
  .card {
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }
  .card:nth-of-type(1) {
    grid-column: 1 / 2;
  }

  .card:nth-of-type(2) {
    grid-column: 1 / 2 ;
  }
